# Dependencies
node_modules/

# Build output
dist/
build/
.output/
.vinxi/
.tanstack/tmp/
.wrangler/

# Env
.env
.env.local
.env.*.local

# Capacitor / Android
android/
ios/
*.apk
*.aab

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
